version: "3"

services:

  app:
    build: .
    volumes:
      - /path/to/blog:/blog
    depends_on:
      - mongo

  mongo:
    image: mongo:3.5
    volumes:
      - ~/docker-shared/gobls3/mongo:/data/db
    ports:
      - "27017:27017"
